.table {
  font-size: 14px;
}

label {
  font-size: 13px;
  font-weight: bold;
}

.currentWeekButton {
  font-size: 13px;
  font-weight: 700;
}

.reservedLink {
  color: #202429;
  text-decoration: underline;
}

.destroyLink {
  color: #d68080;
}

.dropdown-menu {
  left: -90px;
}
